name: Continuous Deployment
on: push

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v14.1
      - name: Nix Build
        run: nix-build
      - name: Deploy to Github Pages
        uses: JamesIves/github-pages-deploy-action@4.1.6
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          branch: gh-pages
          folder: result
          clean: true
          clean-exclude: |
            CNAME
